body{
    background-color:#ECF8F9;
    font-weight: 600;
}
.detail{
    color: #256D85;
}
.button{
    color: white;
    background-color: #B799FF;
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
h3{
    color: blueviolet;
    font-style: italic;
    font-weight: 600;
}
input{
    padding: 5px 10px;
    border-radius: 6px;
    border: 0;
}
